    <div id="wrapper">
      <h1>News from Scientific American</h1>

      	<div id="articles">
	      {{#each article}}

			<div class="panel panel-default">
  				<div class="panel-body">
  					<div class="container-fluid">
  						<div class="row">
  							<div class="col-md-1"><a href='{{link}}' class="thumbnail"><img src='https://www.scientificamerican.com{{img}}'></a></div>
  							 <div class="col-md-7"><a  href='{{link}}'>{{title}}<br></a></div>
  							 <div class="col-md-1"></div>
  							 <div class="col-md-3"><button class='save-article' data-id='{{_id}}'>Save Article</button></div>
						</div>
    	      		</div>			
  				</div>
			</div>

	      {{/each}}
    	</div>

    </div>	

