    <div id="wrapper">
      <h1>Saved Articles</h1>
   
      <div id="myarticles">
      {{#each sa}}

      	<div class="panel panel-default">
  			 <div class="panel-body">

            <div class="container-fluid">
              <div class="row">
                 <div class="col-md-8"><a  href='{{link}}'>{{title}}<br></a></div>
               {{!--   <div class="col-md-1"></div> --}}
                 <div class="col-md-4"><button class='manage-notes' data-id='{{_id}}'>Article Notes</button><button class='unsave-article' data-id='{{_id}}'>Delete From Saved</button></div>
                 {{!-- <div class="col-md-3"><button class='unsave-article' data-id='{{_id}}'>Delete From Saved</button></div> --}}
              </div>
            </div>  
          </div>
		    </div>

      {{/each}}
      </div>
    </div>






